<!-- Photo UPLOAD -->

{% extends 'base.html' %}
{% load static %}

{% block pgcss %}

<link rel="stylesheet" href="../static/css/profile.css">
<link rel="stylesheet" href="../static/css/index.css">
{% endblock pgcss %}


{% block content %}
<form method="POST" enctype="multipart/form-data" role="form" id="box">

    {% csrf_token %}

    <div class="container" id="box" style="margin-top: 0%;">
        <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">

            <!-- add disabled afterwards -->
            
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">1</a>
            <p class="step">Step 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">2</a>
            <p class="step">Step 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">3</a>
            <p class="step">Step 3</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-primary btn-circle ">4</a>
            <p class="step">Step 4</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">5</a>
            <p class="step">Step 5</p>
        </div>
    </div>
        
    </div>

    <div class="row setup-content col-md-12 offset-md-12  justify-content-center align-items-center" id="step-3">
        <div class="col-md-12 justify-content-center align-items-center">
        <!-- <div class="col-xs-12"> -->
            <h4 class="showcase-text"> Upload your photo</h4>
                <div class="drop-zone">
                <span class="drop-zone__prompt">Drop photo here or click to upload</span>
                <input type="file" name="picture" class="drop-zone__input" accept="image/*" required>
                </div>
        </div>    
    </div>
        

    <div class="row setup-content mt-4 col-md-12 offset-md-12  justify-content-center align-items-center" id="step-4">
        <!-- <div class="col-xs-12"> -->
            <div class="col-md-12 justify-content-center align-items-center">
                <h4 class="showcase-text"> Upload image of Aadhar card/PAN card/Driving-license/Voter-id</h4>
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop documents here or click to upload</span>
                    <input type="file" name="idproof" class="drop-zone__input" accept="image/*" required>
                </div>
            </div>
        <!-- </div> -->
    </div>

    <div class="row setup-content mt-4 col-md-12 offset-md-12  justify-content-center align-items-center" id="step-5">
        <!-- <div class="col-xs-12"> -->
            <div class="col-md-12 justify-content-center align-items-center">
                <h4> Upload electricity bill of last month</h4>
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop documents here or click to upload</span>
                    <input type="file" name="addrproof" class="drop-zone__input" accept="image/*" required>
                </div>
            </div>
        <!-- </div> -->
    </div>

    <div class="button">
        <button type="submit" id="submit" > Next Step </button>
    </div>
                

</form>




{% endblock content %}