{% extends 'base.html' %}
{% load static %}

{% block pgcss %}

<link rel="stylesheet" href="../static/css/profile.css">
<link rel="stylesheet" href="../static/css/index.css ">

<style>
    .userInput{
	display: flex;
	justify-content: center;
}

input{
	margin: 10px;
	height: 35px;
	width: 65px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: arimo;
	font-size: 1.2rem;
	background: #eef2f3;

}

h1{
	text-align: center;
	font-family: arimo;
	color: honeydew;
}


</style>
{% endblock pgcss %}

{% block content %}

<form method="POST" role="form">
{% csrf_token %}

    <div class="container">
    <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">

            <!-- add disabled afterwards -->
            
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">1</a>
            <p class="step">Step 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-primary btn-circle ">2</a>
            <p class="step">Step 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">3</a>
            <p class="step">Step 3</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">4</a>
            <p class="step">Step 4</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-light">5</a>
            <p class="step">Step 5</p>
        </div>
        
    </div>
</div>

    <div class="row setup-content" id="step-2">
        <!-- <div class="col-xs-12"> -->
            <div class="col-md-12">
                <!-- <h3> Step 2</h3> -->
                <div class="form-group text-center text-bold">
                    <label class="control-label">Enter OTP</label>
                    <!-- 
                    <input maxlength="4" minlength="4" type="tel" class="form-control" placeholder="XXXX" name="otp" required/>
                     -->
                    
                    <div class="userInput">
                        <input type="text" id='ist' name="ist" maxlength="1" onkeyup="clickEvent(this,'sec')">
                        <input type="text" id="sec" name="sec" maxlength="1" onkeyup="clickEvent(this,'third')">
                        <input type="text" id="third" name="third" maxlength="1" onkeyup="clickEvent(this,'fourth')">
                        <input type="text" id="fourth" name="fourth" maxlength="1">
            		</div>
                </div>

                <div class="button">
                    <button type="submit" id="submit"> Next Step </button>
                </div>
                

            </div>
        <!-- </div> -->
    </div>

</form>
{% for message in messages %}
    {{ message }}
{% endfor %}
{% endblock content %}