{% extends 'base.html' %}
{% load static  %}

{% block pgcss %}
<link rel="stylesheet" href="../static/css/profile.css">
<link rel="stylesheet" href="../static/css/index.css">

{% endblock pgcss %}
{% block content %}

<div class="alert alert-warning alert-dismissible fade" role="alert">
    <p>Your kyc is verified</p>
</div>
<div class="container">
        <div class="title">
            Your details
        </div>

        <div class="user-details">
            <div class="input-box">
                <span class="details">
                    Name
                </span>
                
                <h3>{{ prof.user.first_name }} {{ prof.user.last_name }}</h3>
            </div>

            <div class="input-box">
                <span class="details">
                    Email
                </span>
                <h3>{{ prof.user.email }}</h3>
            </div>

            <div class="input-box">
                <span class="details">
                    Aadhar Card no.
                </span>
                <h3>{{ prof.aadhar_no }}</h3>
            </div>

            <div class="input-box">
                <span class="details">
                    Pan card no.
                </span>
                <h3>{{ prof.pan_no }}</h3>
            </div>

            <div class="input-box">
                <span class="details">
                    KYC status
                </span>
                {% if prof.is_kyc_verified %}
                    <h3>Your KYC is verified.</h3>
                {% else %}
                    <h3>Your KYC is not verified.</h3>
                    <a href="{% url 'verifyphone' %}" class="button">Click here to get verified </a>
                {% endif %}
            </div>
        </div>

            
    </div>

{% endblock content %}