{% extends 'base.html' %} {% load static %} {% block content %}

<form action="" id="myForm" enctype="multipart/form-data">

{% block pgcss %}

<link rel="stylesheet" href="../static/css/video.css">
{% endblock pgcss %}

    {% csrf_token %}

<div class="container">
    <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">

            <!-- add disabled afterwards -->
            
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">1</a>
            <p class="step_">Step 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">2</a>
            <p class="step_">Step 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">3</a>
            <p class="step_">Step 3</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-default btn-circle disabled bg-primary text-light">4</a>
            <p class="step_">Step 4</p>
        </div>
        
        <div class="stepwizard-step">
            <a href="" type="button" class="btn btn-primary btn-circle">5</a>
            <p class="step_">Step 5</p>
        </div>
        
    </div>
</div>

  <h3 class="text-center" id="prompt_text">Time to record a 10 second video </h3>

  <div class="left">
    <div id="startButton" class="offset-md-3 button btn btn-success col-md-6 justify-content-center align-items-center">Click to start video</div>

    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <h2 id="warn_text" class="mx-auto">Hold still while we are recording your video</h2>
          <video id="preview" width="900" height="480" class="mr-3 pr-3" autoplay muted></video>
          </div>
      </div>
      </div>
    <div class="row">
      <div class="mx-auto">
        <div id="stopButton" class="button">Stop</div>
        <h2 id="record_text" class="mx-auto">Recorded video, refresh to re-record</h2>
        <video id="recording" width="900" height="480" controls></video>
        <a href="{% url 'verifyprofile' %}">
          <button id="downloadButton" type = "submit" class="offset-md-3 button btn btn-success col-md-6 justify-content-center align-items-center py-4 my-4">
            Submit video
          </button>
        </a>
        </div>
      </div>
  </div>
</form>


{% endblock content %}
