.signin-container {
  box-sizing: border-box;
  width: 100%;
  min-height: 84.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: linear-gradient(-120deg, #458FF6, #fff);

  .signin-wrapper {
    width: 75%;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 15% 30px;
    box-sizing: border-box;

    .signin {
      width: 100%;

      .signin-title {
        font-weight: 700;
        box-sizing: border-box;
        display: block;
        font-size: 32px;
        color: #333;
        text-align: center;
        width: 100%;
        padding-bottom: 30px;
      }

      .signin-input-wrapper {
        margin-bottom: 10px;

        .signin-input {
          box-sizing: border-box;
          font-size: 15px;
          line-height: 1.5;
          color: #666;
          display: block;
          width: 100%;
          background: #e6e6e6;
          height: 50px;
          border-radius: 25px;
          padding: 0 30px 0 68px;
          outline: none;
          border: none;
        }
      }

      .signin-btn-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;

        .signin-btn {
          outline: none;
          border: none;
          font-size: 15px;
          line-height: 1.5;
          font-weight: 500;
          color: #fff;
          text-transform: uppercase;
          width: 100%;
          height: 50px;
          border-radius: 25px;
          background: #458FF6;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 25px;
          transition: all 0.4s;
        }
      }

      .signin-link {
        text-align: center;
        padding-top: 10px;
      }
    }
  }
}