<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="images\rice.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rice</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="images\appleCrop.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apple</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="images\Corn.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Corn</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="images\grapes.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Grapes</h5>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="images\jowar.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jowar</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images\jute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jute</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images\mango.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mango</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images\orange.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Orange</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images\coffee.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Coffee</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images\tea.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tea</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images\moongDal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Moong Dal</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images\ragi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ragi</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images\wheat.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wheat</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images\cotton.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cotton</h5>
          </div>
        </div>
      </div>
  </div>