<%- include('partials/header') %>

<div class="container">
    <h1>Available Products</h1>
    <div class="product">
        <a href="https://en.wikipedia.org/wiki/Rice"><img class="dash-img" src="images/rice.jpg"
                alt="rice crop image"></a>
        <h3>Rice</h3>
        <p>
            Variety: 1121
        </p>
        <p>
            Available Quantity: 500 kilogram
        </p>
        <p>
            Price: 89.10/kilogram
        </p>
        <p>
            Shipping Time: 1 Day(s)
        </p>
        <p>
            Contact: +91 xxxxxxxxxx
        </p>
    </div>
    <hr>
    <div class="product">
        <a
            href="https://en.wikipedia.org/wiki/Wheat#:~:text=Wheat%20is%20a%20grass%20widely,is%20a%20worldwide%20staple%20food.&text=In%202017%2C%20world%20production%20of,most%2Dproduced%20cereal%20after%20maize."><img
                class="dash-img" src="images/wheat.jpg" alt="wheat crop image"></a>
        <h3>Wheat</h3>
        <p>
            Variety: Brown
        </p>
        <p>
            Available Quantity: 500 kilogram
        </p>
        <p>
            Price: 100/kilogram
        </p>
        <p>
            Shipping Time: 3 Day(s)
        </p>
        <p>
            Contact: +91 xxxxxxxxxx
        </p>
    </div>
    <hr>
    <div class="product">
        <a href="https://www.britannica.com/plant/tea-plant"><img class="dash-img" src="images/tea.jpg"
                alt="tea crop image"></a>
        <h3>Tea</h3>
        <p>
            Variety: Ginger
        </p>
        <p>
            Available Quantity: 100 kilogram
        </p>
        <p>
            Price: 310/kilogram
        </p>
        <p>
            Shipping Time: 3 Day(s)
        </p>
        <p>
            Contact: +91 xxxxxxxxxx
        </p>
    </div>
    <hr>
    <div class="product">
        <a href="http://www.agritech.tnau.ac.in/horticulture/horti_plantation%20crops_coffee.html"><img class="dash-img"
                src="images/coffee.jpg" alt="coffee crop image"></a>
        <h3>Coffee</h3>
        <p>
            Variety: Brown granuels
        </p>
        <p>
            Available Quantity: 100 kilogram
        </p>
        <p>
            Price: 425/kilogram
        </p>
        <p>
            Shipping Time: 7 Day(s)
        </p>
        <p>
            Contact: +91 xxxxxxxxxx
        </p>
    </div>
    <hr>
    <div class="product">
        <a href="https://en.wikipedia.org/wiki/Cotton"><img class="dash-img" src="images/cotton.jpg"
                alt="cotton crop image"></a>
        <h3>Cotton</h3>
        <p>
            Variety: Raw
        </p>
        <p>
            Available Quantity: 1000 kilogram
        </p>
        <p>
            Price: 70/kilogram
        </p>
        <p>
            Shipping Time: 1 Day(s)
        </p>
        <p>
            Contact: +91 xxxxxxxxxx
        </p>
    </div>

</div>

<%- include('partials/footer') %>