<%- include('partials/header') %> 

<!-- Simple Navbar -->
<%- include('partials/navbar') %>

<!-- Grid Cards -->
<section class="rightPanel">
    <%- include('partials/cards') %>
</section>

<%- include('partials/footer') %> 