<%- include('partials/header') %> 

<!-- Simple Navbar -->
<%- include('partials/navbar') %>

<section class="leftPanel">
    
</section>

<!-- Grid Cards -->
<section class="rightPanel">
    <%- include('partials/cards') %>
</section>

<%- include('partials/footer') %> 