.sos-outer {
  .sos-wrap {
    padding-top: 125px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sos-button {
    min-width: 200px;
    min-height: 60px;
    font-size: 22px;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #ff1e00;
    background: linear-gradient(
      125deg,
      rgb(206, 24, 18) 0%,
      rgb(252, 252, 252) 100%
    );
    border: none;
    border-radius: 1000px;
    box-shadow: 6px 6px 12px rgb(206, 24, 18);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
  }

  button::before {
    content: "";
    border-radius: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }

  .button:hover,
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }

  button:hover::before,
  button:focus::before {
    opacity: 1;
  }

  button::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #ff1e00;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  button:hover::after,
  button:focus::after {
    animation: none;
    display: none;
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .sos-text {
    padding-top: 120px;
    text-align: center;
    font-size: 20px;
    font-weight: 350;
    padding-left: 30vw;
    padding-right: 30vw;

    .sos-bold {
      font-weight: 500;
    }
  }
}
