.navbar{
    display: flex;
    .nav-link{
        text-decoration: none;
    }
    .logo{
        display: flex;
        img{
            width: 68px;
        }
    }
    .navitems{
        display: flex;
    }
}