@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css";
body{
	margin:  0;
	padding: 0;
	font-family: sans-serif;
	background: url(Emb.jpg) no-repeat;
	background-size: cover;
}

.Login{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.Login h1{
	color: darkcyan;
	float: left;
	font-size: 40px;
	border-bottom: 50px solid;
	margin-bottom: 50px;
	padding: 13px 0;
}

.LoginTextbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid;
}

.LoginTextbox i{
	color: black;
}
