.carousel-caption {
    background-color: black;
}
.carousel {
    max-width: 90%;
}
.rightPanel {
    max-width: 90%;
    margin: 0 5%;
}
.register {
    max-width: 60%;
    margin: 5% 20%;
}
.dash-img {
    max-width: 300px;
}
.product {
    border: 2px solid black;
    padding: 10px;
    margin: 25px;
}
.container h1 {
    padding: 0 312px;
}